# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Jupyter/Streamlit
.ipynb_checkpoints/
.streamlit/
logs/

# OS
.DS_Store
Thumbs.db

# Env/keys
.env
.env.*

# Data (필요에 맞게 조정)
data/
*.csv


# IDE
.vscode/
.history/
